<html>

{% load custom_tags %}

<body>
<center>
    {% if perms.newsportal.add_news %}
    <a href="{% url 'news_create' %}">Добавить пост</a>
    {% endif %}

   <table>
       <tr>
           <td>Название</td>
           <td>Тип</td>
           <td>Категория</td>
           <td>Дата</td>
           <td>Текст</td>
           {% if perms.simpleapp.change_product or perms.simpleapp.delete_new %}
           <td>Действия</td>
           {% endif %}
       </tr>

       {% for i in text %}
       <tr>
           <td>{{ i.name }}</td>
           <td>{{ i.type }}</td>
           <td>{{ i.category }}</td>
           <td>{{ i.date_on|date:'d M Y' }}</td>
           <td>{{ i.text|truncatechars:20 }}</td>
           <td>
               {% if perms.newsportal.change_news %}
               <a href="{% url 'news_update' pk=i.id %}">Изменить</a>
               {% endif %}
               {% if perms.newsportal.delete_news %}
               <a href="{% url 'news_delete' i.id %}">Удалить</a>
               {% endif %}
           </td>
       </tr>
       {% endfor %}
   </table>

      {% if page_obj.has_previous %}
          <a href="?{% url_replace page=1 %}">1</a>
          {% if page_obj.previous_page_number != 1 %}
              ...
              <a href="?{% url_replace page=page_obj.previous_page_number  %}">{{ page_obj.previous_page_number }}</a>
          {% endif %}
      {% endif %}

      {{ page_obj.number }}

      {% if page_obj.has_next %}
          <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
          {% if paginator.num_pages != page_obj.next_page_number %}
              ...
              <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
          {% endif %}
      {% endif %}
</center>
</body>

</html>
